---
http_interactions:
- request:
    method: get
    uri: https://eplanning.liverpool.nsw.gov.au/Pages/XC.Track/SearchApplication.aspx?d=last14days&k=LodgementDate&o=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>380352</ApplicationId>\r\n
        \   <NatureOfApplication>Construction Certificate Blding - Accredited Cert
        </NatureOfApplication>\r\n    <NatureOfApplicationType>523</NatureOfApplicationType>\r\n
        \   <ReferenceNumber>CCB-270/2019</ReferenceNumber>\r\n    <Status>Approved</Status>\r\n
        \   <ReferenceNumberYear>2019</ReferenceNumberYear>\r\n    <ReferenceNumberNumber>270</ReferenceNumberNumber>\r\n
        \   <ApplicationDetails>Construction of a one bedroom, secondary dwelling.</ApplicationDetails>\r\n
        \   <CreatedDate>2019-05-24T00:00:00+10:00</CreatedDate>\r\n    <LodgementDate>2019-05-24T00:00:00+10:00</LodgementDate>\r\n
        \   <EstimatedCost>0.000000</EstimatedCost>\r\n    <OfficerTitle>Accredited
        Certifier                              </OfficerTitle>\r\n    <Officer>Accredited
        Certifier                              </Officer>\r\n    <DADays>14</DADays>\r\n
        \   <NatureOfApplicationTypeForTRIM>CC03</NatureOfApplicationTypeForTRIM>\r\n
        \   <ApplicationIdS>380352</ApplicationIdS>\r\n    <Determination>\r\n      <ApplicationId>380352</ApplicationId>\r\n
        \     <DeterminationDate>2019-05-24T08:00:38.11+10:00</DeterminationDate>\r\n
        \     <EffectiveDate>2019-05-24T00:00:00+10:00</EffectiveDate>\r\n      <DeterminationType>Approved</DeterminationType>\r\n
        \     <AuthorityParty>Accredited Certifier                              </AuthorityParty>\r\n
        \     <ApplicationIdS>380352</ApplicationIdS>\r\n    </Determination>\r\n
        \   <Address>\r\n      <PropertyId>180047</PropertyId>\r\n      <ParcelId>143222</ParcelId>\r\n
        \     <GeocodeId>180047</GeocodeId>\r\n      <ApplicationId>380352</ApplicationId>\r\n
        \     <Line1>125 MADDECKS AVENUE\rMOOREBANK  NSW  2170                                                            </Line1>\r\n
        \     <Line2 />\r\n      <FullLegalDescription>LOT 5318 DP 1179881</FullLegalDescription>\r\n
        \     <AddressLine1>125 MADDECKS AVENUE</AddressLine1>\r\n      <PropertyStatus>C</PropertyStatus>\r\n
        \     <PropertyTitleStatus>C</PropertyTitleStatus>\r\n      <ParcelTitleStatus>C</ParcelTitleStatus>\r\n
        \     <ParcelStatus>C</ParcelStatus>\r\n      <ApplicationIdS>380352</ApplicationIdS>\r\n
        \   </Address>\r\n    <Party>\r\n      <PartyId>362494</PartyId>\r\n      <ApplicationId>380352</ApplicationId>\r\n
        \     <PartyRole>Accredited Certifier                              </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>MIKHAIL</FamilyName>\r\n
        \     <GivenName>SAMY </GivenName>\r\n      <Initial>S    </Initial>\r\n      <NameType>P</NameType>\r\n
        \     <FullName>MR S MIKHAIL</FullName>\r\n      <NatureOfApplicationType>523</NatureOfApplicationType>\r\n
        \     <ApplicationIdS>380352</ApplicationIdS>\r\n    </Party>\r\n    <Party>\r\n
        \     <PartyId>353935</PartyId>\r\n      <ApplicationId>380352</ApplicationId>\r\n
        \     <PartyRole>Affected Person                                   </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>BOCTORANI</FamilyName>\r\n
        \     <GivenName>DAVID </GivenName>\r\n    [...]
